@font-face {
  font-family: "Kumbh Sans";
  src: url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700&display=swap')
}

:root {
  --color-blue: #5175FF;
  --color-lightblue: #829CFF;
  --color-dark-grey: #25293A;
  --color-grey: #333950;
  --color-lightgrey: #747B95;
  --color-red: #F05B5B;
  --color-white: #fff;
  --color-black: #000;
  --color-off-white: #FAFAFA;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--color-off-white);
}

/* Base Styles */

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 2.8rem;
  padding: 1.4rem 4.1rem;
  color: var(--color-blue);
}

.btn.white {
  color: var(--color-white);
}

.btn.bg-blue {
  background-color: var(--color-blue);
}

.btn.bg-blue.low-opacity {
  color: var(--color-blue);
  background-color: rgba(81, 117, 255, 0.35);
}

.btn.bg-white {
  background-color: var(--color-white);
}

.site-section {
  margin: 10rem 0;
}

/* Site Header */

.upper-content {
  background: no-repeat url('../../assets/home/bg-pattern-header.svg') center -22vh / 120%;
}

.site-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.4rem;
  text-align: center;
}

.big-header {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
  color: var(--color-grey);
}

.header-graph-container {
  margin: 6.4rem auto 8rem;
}

.header-img {
  max-width: 20rem;
  height: auto;
}

.intro-container {
  margin-bottom: 4.8rem;
}

.intro-container .description {
  color: var(--color-lightgrey);
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}

/* Pricing Section */

.pricing-inner-container {
  display: flex;
  flex-direction: column;
  width: 87.2%;
  margin: 0 auto;
}

.price-container.basic,
.price-container.ultimate {
  background-color: var(--color-white);
}

.price-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1.3rem;
  margin: 1.6rem 0;
}

.price-container .pricing-header {
  color: var(--color-grey);
}

.price-container.pro .pricing-header,
.price-container.pro .pricing-feature {
  color: var(--color-white);
}

.price-container.pro {
  background: no-repeat center 100% var(--color-blue) url('../../assets/home/bg-pattern-pricing.svg');
}

.pricing-header {
  margin-bottom: 5.6rem
} 

.price-header {
  font-size: 2rem;
  margin: 4rem;
}

.price-amount {
  font-size: 5.6rem;
}

.sub-info {
  font-weight: 400;
}

.sub-info,
.pricing-feature ul li {
  font-size: 1.6rem;
}

.price-container.pro .pricing-feature ul {
  color: var(--white);
}

.pricing-feature ul {
  color: var(--color-lightgrey);
  font-weight: 300;
  list-style: none;
}

.pricing-feature ul li {
  margin: 1.6rem 0;
}

.price-container .btn {
  margin: 4rem 0;
}

/* Footer / Countdown Section */

footer {
  
}

.inner-footer-container,
.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-footer-container {
  flex-direction: column;
}

.inner-footer-container::after {
  content: '';
  display: block;
  width: 100%;
  height: 150vh;
  background: var(--color-dark-grey);
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.date-countdown-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.date-container {
  margin-bottom: 2rem;
}

.date-container h2 {
  text-transform: uppercase;
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

.countdown-container {
  gap: 1.3rem;
  margin: 0 2.4rem 4rem;
}

.countdown-box {
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.4rem;
  color: var(--color-white);
  line-height: 1.2;
  padding: 1rem 1.6rem;
}

.countdown-box h3 {
  font-size: 3.2rem;
  margin-bottom: 0.7rem;
}

.countdown-box p {
  text-transform: lowercase;
  font-size: 1.2rem;
  opacity: 0.5;
}

@media(min-width: 768px) {
  /* Header Section */

  .upper-content {
    background-position: center;
    background-size: contain;
  }

  
  /* Pricing Section */

  /* Footer Section */
}